<h3><%= team.name %></h3>
<% if team.roster.length > 0 %>
  <ul>
    <% team.roster.each do |champ| %>
      <li><%= champ.name %></li>
    <% end %>
  </ul>
<% end %>

<form action="/add-champ" method="post">
  <input type="text" name="champ-name" placeholder="Enter a champion name" autofocus class="awesomplete" list="champNames" data-autofirst="true">
  <input type="hidden" name="team-name" value="<%= team.name %>">
  <input type="submit" tabindex="-1">
</form>

<div class="panel panel-default" style="margin-top: 1em">
  <div class="panel-heading"> <strong>Counters</strong> </div>
  <div class="panel-body">
    <% team.attribute(:countered_by).each do |champion, value| %>
      <span style="font-size: <%= 0.5 + 0.5 * value %>em"><%= champion %></span>
    <% end %>
  </div>
</div>

<div class="panel panel-default" style="margin-top: 1em">
  <div class="panel-heading"> <strong>Strengths and weaknesses</strong> </div>
  <div class="panel-body">
    <% team.balance.each do |attribute, value| %>
      <span style="<%= 'color: red;' if value < 0 %>
        font-size: <%= 0.5 + 0.5 * value.abs %>em
        <%= 'display: none' if value.zero? %>
      " >
      <%= '-' if value < 0 %><%= attribute %>
    </span>
    <% end %>
  </div>
</div>
